[Unit]
Before=network.target
[Service]
Type=oneshot
ExecStart=/usr/sbin/iptables -t nat -A POSTROUTING -s 10.8.0.0/24 ! -d 10.8.0.0/24 -j SNAT --to 10.18.0.5
ExecStart=/usr/sbin/iptables -t nat -A POSTROUTING -s 10.9.0.0/24 ! -d 10.9.0.0/24 -j SNAT --to 10.18.0.5
ExecStart=/usr/sbin/iptables -t nat -A POSTROUTING -s 10.10.0.0/24 ! -d 10.10.0.0/24 -j SNAT --to 10.18.0.5
ExecStart=/usr/sbin/iptables -t nat -A POSTROUTING -s 10.11.0.0/24 ! -d 10.11.0.0/24 -j SNAT --to 10.18.0.5
ExecStart=/usr/sbin/iptables -t nat -A POSTROUTING -s 10.100.0.0/24 ! -d 10.100.0.0/24 -j SNAT --to 10.18.0.5
ExecStart=/usr/sbin/iptables -I INPUT -p tcp --dport 443 -j ACCEPT
ExecStart=/usr/sbin/iptables -I FORWARD -s 10.8.0.0/24 -j ACCEPT
ExecStart=/usr/sbin/iptables -I FORWARD -s 10.9.0.0/24 -j ACCEPT
ExecStart=/usr/sbin/iptables -I FORWARD -s 10.10.0.0/24 -j ACCEPT
ExecStart=/usr/sbin/iptables -I FORWARD -s 10.11.0.0/24 -j ACCEPT
ExecStart=/usr/sbin/iptables -I FORWARD -s 10.100.0.0/24 -j ACCEPT
ExecStart=/usr/sbin/iptables -I FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT
ExecStop=/usr/sbin/iptables -t nat -D POSTROUTING -s 10.8.0.0/24 ! -d 10.8.0.0/24 -j SNAT --to 10.18.0.5
ExecStop=/usr/sbin/iptables -t nat -D POSTROUTING -s 10.9.0.0/24 ! -d 10.9.0.0/24 -j SNAT --to 10.18.0.5
ExecStop=/usr/sbin/iptables -t nat -D POSTROUTING -s 10.10.0.0/24 ! -d 10.10.0.0/24 -j SNAT --to 10.18.0.5
ExecStop=/usr/sbin/iptables -t nat -D POSTROUTING -s 10.11.0.0/24 ! -d 10.11.0.0/24 -j SNAT --to 10.18.0.5
ExecStop=/usr/sbin/iptables -t nat -D POSTROUTING -s 10.100.0.0/24 ! -d 10.100.0.0/24 -j SNAT --to 10.18.0.5
ExecStop=/usr/sbin/iptables -D INPUT -p tcp --dport 443 -j ACCEPT
ExecStop=/usr/sbin/iptables -D FORWARD -s 10.8.0.0/24 -j ACCEPT
ExecStop=/usr/sbin/iptables -D FORWARD -s 10.9.0.0/24 -j ACCEPT
ExecStop=/usr/sbin/iptables -D FORWARD -s 10.10.0.0/24 -j ACCEPT
ExecStop=/usr/sbin/iptables -D FORWARD -s 10.11.0.0/24 -j ACCEPT
ExecStop=/usr/sbin/iptables -D FORWARD -s 10.100.0.0/24 -j ACCEPT
ExecStop=/usr/sbin/iptables -D FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT
ExecStart=/usr/sbin/ip6tables -t nat -A POSTROUTING -s fddd:1194:1194:1194::/64 ! -d fddd:1194:1194:1194::/64 -j SNAT --to 2a03:b0c0:2:d0::14ba:6001
ExecStart=/usr/sbin/ip6tables -t nat -A POSTROUTING -s fddd:1194:1194:1195::/64 ! -d fddd:1194:1194:1195::/64 -j SNAT --to 2a03:b0c0:2:d0::14ba:6001
ExecStart=/usr/sbin/ip6tables -t nat -A POSTROUTING -s fddd:1194:1194:1196::/64 ! -d fddd:1194:1194:1196::/64 -j SNAT --to 2a03:b0c0:2:d0::14ba:6001
ExecStart=/usr/sbin/ip6tables -t nat -A POSTROUTING -s fddd:1194:1194:1197::/64 ! -d fddd:1194:1194:1197::/64 -j SNAT --to 2a03:b0c0:2:d0::14ba:6001
ExecStart=/usr/sbin/ip6tables -t nat -A POSTROUTING -s fd08:4711::1/64 ! -d fd08:4711::1/64 -j SNAT --to 2a03:b0c0:2:d0::14ba:6001
ExecStart=/usr/sbin/ip6tables -I FORWARD -s fddd:1194:1194:1194::/64 -j ACCEPT
ExecStart=/usr/sbin/ip6tables -I FORWARD -s fddd:1194:1194:1195::/64 -j ACCEPT
ExecStart=/usr/sbin/ip6tables -I FORWARD -s fddd:1194:1194:1196::/64 -j ACCEPT
ExecStart=/usr/sbin/ip6tables -I FORWARD -s fddd:1194:1194:1197::/64 -j ACCEPT
ExecStart=/usr/sbin/ip6tables -I FORWARD -s fd08:4711::1/64 -j ACCEPT
ExecStart=/usr/sbin/ip6tables -I FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT
ExecStop=/usr/sbin/ip6tables -t nat -D POSTROUTING -s fddd:1194:1194:1194::/64 ! -d fddd:1194:1194:1194::/64 -j SNAT --to 2a03:b0c0:2:d0::14ba:6001
ExecStop=/usr/sbin/ip6tables -t nat -D POSTROUTING -s fddd:1194:1194:1195::/64 ! -d fddd:1194:1194:1195::/64 -j SNAT --to 2a03:b0c0:2:d0::14ba:6001
ExecStop=/usr/sbin/ip6tables -t nat -D POSTROUTING -s fddd:1194:1194:1196::/64 ! -d fddd:1194:1194:1196::/64 -j SNAT --to 2a03:b0c0:2:d0::14ba:6001
ExecStop=/usr/sbin/ip6tables -t nat -D POSTROUTING -s fddd:1194:1194:1197::/64 ! -d fddd:1194:1194:1197::/64 -j SNAT --to 2a03:b0c0:2:d0::14ba:6001
ExecStop=/usr/sbin/ip6tables -t nat -D POSTROUTING -s fd08:4711::1/64 ! -d fd08:4711::1/64 -j SNAT --to 2a03:b0c0:2:d0::14ba:6001
ExecStop=/usr/sbin/ip6tables -D FORWARD -s fddd:1194:1194:1194::/64 -j ACCEPT
ExecStop=/usr/sbin/ip6tables -D FORWARD -s fddd:1194:1194:1195::/64 -j ACCEPT
ExecStop=/usr/sbin/ip6tables -D FORWARD -s fddd:1194:1194:1196::/64 -j ACCEPT
ExecStop=/usr/sbin/ip6tables -D FORWARD -s fddd:1194:1194:1197::/64 -j ACCEPT
ExecStop=/usr/sbin/ip6tables -D FORWARD -s fd08:4711::1/64 -j ACCEPT
ExecStop=/usr/sbin/ip6tables -D FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
